# Generic capabilities for USB HDMI/UVC capture and KVM gadget use.

CONFIG_MEDIA_SUPPORT=builtin
CONFIG_MEDIA_CAMERA_SUPPORT=builtin
CONFIG_VIDEO_DEV=available
CONFIG_USB_VIDEO_CLASS=available
CONFIG_SND_USB_AUDIO=available
CONFIG_USB_GADGET=available
CONFIG_USB_GADGET_DEBUG_FS=builtin
CONFIG_USB_CONFIGFS=available
CONFIG_USB_CONFIGFS_F_LB_SS=builtin
CONFIG_USB_CONFIGFS_F_HID=builtin
CONFIG_USB_CONFIGFS_MASS_STORAGE=builtin
