CONFIG_BT=available
CONFIG_BT_HCIBTUSB=available
CONFIG_BT_HCIBTUSB_RTL=builtin
CONFIG_BT_HCIBTUSB_MTK=builtin
CONFIG_BT_HCIBTUSB_BCM=builtin
CONFIG_BT_HCIUART=available
CONFIG_BT_HCIUART_H4=builtin
CONFIG_BT_HCIUART_3WIRE=builtin
CONFIG_BT_HCIUART_BCM=builtin
CONFIG_BT_HCIUART_RTL=builtin
CONFIG_BT_HCIUART_QCA=builtin
CONFIG_BT_HCIBTSDIO=available
CONFIG_BT_MRVL=available
CONFIG_BT_MRVL_SDIO=available
CONFIG_BT_ATH3K=available
