CONFIG_USB_DWC3=builtin
CONFIG_USB_DWC3_HOST=disabled
CONFIG_USB_DWC3_GADGET=disabled
CONFIG_USB_DWC3_DUAL_ROLE=builtin
CONFIG_USB_GADGET=builtin
CONFIG_USB_ROLE_SWITCH=builtin
CONFIG_TYPEC=builtin
CONFIG_TYPEC_TCPM=builtin
CONFIG_TYPEC_FUSB302=builtin
CONFIG_PHY_ROCKCHIP_USBDP=builtin
CONFIG_TYPEC_DP_ALTMODE=available
CONFIG_ROCKCHIP_DW_DP=builtin
CONFIG_SND_SOC_ES8328_I2C=available
CONFIG_DRM_PANTHOR=available
CONFIG_DRM_ACCEL=builtin
CONFIG_DRM_ACCEL_ROCKET=available
CONFIG_MEDIA_SUPPORT=builtin
CONFIG_MEDIA_CONTROLLER=builtin
CONFIG_MEDIA_CAMERA_SUPPORT=builtin
CONFIG_MEDIA_PLATFORM_SUPPORT=builtin
CONFIG_VIDEO_DEV=available
CONFIG_VIDEO_HANTRO=available
CONFIG_VIDEO_HANTRO_ROCKCHIP=builtin
CONFIG_VIDEO_ROCKCHIP_VDEC=available
CONFIG_VIDEO_ROCKCHIP_RGA=available
CONFIG_VIDEO_SYNOPSYS_HDMIRX=available
CONFIG_ROCKCHIP_MPP_SERVICE=available
CONFIG_ROCKCHIP_MPP_PROC_FS=builtin
CONFIG_ROCKCHIP_MPP_RKVENC2=builtin
CONFIG_ROCKCHIP_MPP_RKVDEC2=disabled
CONFIG_ROCKCHIP_MPP_RKVENC2_DEVFREQ=disabled
CONFIG_VIDEO_V4L2_SUBDEV_API=builtin
CONFIG_VIDEO_TC358743=available
CONFIG_VIDEO_IMX219=available
CONFIG_VIDEO_IMX296=available
CONFIG_VIDEO_OV5647=available
CONFIG_ROCKCHIP_DW_MIPI_DSI2=builtin
CONFIG_PHY_ROCKCHIP_SAMSUNG_DCPHY=available
CONFIG_DRM_PANEL_SIMPLE=available
CONFIG_DRM_PANEL_EDP=available
CONFIG_TOUCHSCREEN_GOODIX=available
CONFIG_TOUCHSCREEN_EDT_FT5X06=available
CONFIG_LIRC=builtin
CONFIG_CPU_THERMAL=builtin
CONFIG_DEVFREQ_THERMAL=builtin
CONFIG_ENERGY_MODEL=builtin
CONFIG_USB_CONFIGFS_F_HID=builtin
CONFIG_USB_CONFIGFS_MASS_STORAGE=builtin
CONFIG_USB_CONFIGFS_ECM=builtin
CONFIG_USB_CONFIGFS_NCM=builtin
CONFIG_USB_CONFIGFS_RNDIS=builtin
CONFIG_USB_CONFIGFS_F_UVC=builtin
CONFIG_USB_CONFIGFS_F_UAC2=builtin
CONFIG_USB_F_HID=available
CONFIG_USB_F_MASS_STORAGE=available
CONFIG_USB_F_ECM=available
CONFIG_USB_F_NCM=available
CONFIG_USB_F_RNDIS=available
CONFIG_USB_F_UVC=available
CONFIG_USB_F_UAC2=available
CONFIG_SRAM=builtin
CONFIG_VIDEO_ROCKCHIP_CIF=available
CONFIG_VIDEO_ROCKCHIP_ISP2=available
CONFIG_VIDEO_DW_MIPI_CSI2RX=available
CONFIG_PHY_ROCKCHIP_INNO_CSIDPHY=available
CONFIG_V4L_PLATFORM_DRIVERS=builtin
