CONFIG_USB_DWC3=builtin
CONFIG_USB_DWC3_HOST=disabled
CONFIG_USB_DWC3_GADGET=disabled
CONFIG_USB_DWC3_DUAL_ROLE=builtin
CONFIG_USB_GADGET=builtin
CONFIG_USB_ROLE_SWITCH=builtin
CONFIG_TYPEC=builtin
CONFIG_TYPEC_TCPM=builtin
CONFIG_TYPEC_FUSB302=builtin
CONFIG_PHY_ROCKCHIP_USBDP=builtin
CONFIG_TYPEC_DP_ALTMODE=available
CONFIG_ROCKCHIP_DW_DP=builtin
CONFIG_SND_SOC_ES8328_I2C=available
