CONFIG_R8169=builtin
CONFIG_PCIE_ROCKCHIP_DW_HOST=builtin
CONFIG_MMC_DW_ROCKCHIP=builtin
CONFIG_MMC_SDHCI_OF_DWCMSHC=builtin
CONFIG_ROCKCHIP_THERMAL=available
CONFIG_ROCKCHIP_SARADC=builtin
CONFIG_NVMEM_ROCKCHIP_OTP=builtin
CONFIG_RTC_DRV_HYM8563=available
CONFIG_KEYBOARD_ADC=available
CONFIG_KEYBOARD_GPIO=available
CONFIG_LEDS_GPIO=available
CONFIG_LEDS_PWM=available
CONFIG_LEDS_TRIGGER_HEARTBEAT=available
CONFIG_LEDS_TRIGGER_NETDEV=available
CONFIG_PWM_ROCKCHIP=builtin
CONFIG_USB_DWC3=builtin
CONFIG_USB_DWC3_DUAL_ROLE=builtin
CONFIG_PHY_ROCKCHIP_INNO_USB2=builtin
CONFIG_PHY_ROCKCHIP_USBDP=builtin
CONFIG_PHY_ROCKCHIP_NANENG_COMBO_PHY=builtin
